{% extends "base.html" %}

{% block title %}
	Detail
{% endblock title %}

{% block content  %}



<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action='{% url "search" %}' method="GET" >
    <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search <value="query">
    </button>
  </form>
</nav>
</form>


<br><br><br>
	

	<table class="table table-dark">
  <thead>
	    <tr>
	    	<th scope="col"> </th>
	      <th scope="col">Name</th>
	      <th scope="col">Address</th>
	      <th scope="col">Open time</th>
	      <th scope="col">Rating</th>
	      <th scope="col">let</th>
	      <th scope="col">lng</th>
	      
	    </tr>
  </thead>
  	<tbody>
  			<tr>
		  <th scope="row">1</th>
		  <td>{{response.result.name}}</td>
		  <td>{{response.result.formatted_address}}</td>
		  <td>{{response.result.opening_hours.open_now}}</td>
		  <td>{{response.result.rating}}</td>
		  <td>{{response.result.geometry.location.lat}}</td>
		  <td>{{response.result.geometry.location.lng}}</td>

		  
		


		</tr>
		<tr>
		
	 </tbody>
	</table>
<br><br>
 <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJIlC-3DzK5m89WAflhcMcP1xiSTsGJcs
    &q={{response.result.geometry.location.lat}},{{response.result.geometry.location.lng}}" allowfullscreen>
</iframe>

{% endblock content  %}